*{
    border: rgb(231, 102, 114) solid 2px;
}
input {
    padding: 10px;
    margin-bottom: 50px;
    width: 80%;
    height: 30%;
    border-radius: 25px;
}

img {
    padding: 20px;
    height: 300px;
    width:auto;
    float: left;
}

button {
    width: 150px;
    padding: 10px 20px;
    border-radius: 25px;
    
}
p{
    padding:40px 20px;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    display: flex;
}
.hidden{
    display: none;
}