
*{
    border: rgb(255, 255, 255) solid 2px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.container .rating {
    direction: rtl;
}
.container .rating label {
    display: inline-block;
    cursor: pointer;
    color: #ebebeb;
}
.container .rating label i {
    font-size: 3rem;
    transition: 0.1s ease-in;
}
.container .rating label:hover i,
.container .rating label:hover ~ label i {
    color: #ded46b;
}
.container .rating .rating-radio {
    display: none;  
}
.container .rating input[type="radio"]:checked + label i,
.container .rating input[type="radio"]:checked ~ label i {
    color: #ded46b;
}


input {
    padding: 10px;
    margin-bottom: 50px;
    width: 80%;
    height: 30%;
    border-radius: 25px;
    border-color: #9d2727;
}

img {
    padding: 20px;
    height: 300px;
    width:auto;
    float: left;
}

button {
    width: 150px;
    padding: 10px 20px;
    border-radius: 25px;
    border-color: #9d2727;
}
.hidden{
    display:
}
p{
    padding:40px 20px;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    display: flex;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

